<div class="home_content">
  <p>You just need to tell us your city, and where you and your friends are coming from.
    <br>Let us handle the rest.</p>
    <p>We'll find you a central meeting place by public transit travel time,
    <br>that fits your city and your life.</p>
</div>
