<h1><%= @map.map_title %></h1>

<script>
  function initialize(){
    var mapProp = {
      center:new google.maps.LatLng(<%=  @map.middle_ground_lat %>, <%= @map.middle_ground_long %>), zoom:12,
      mapTypeID:google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
  }

  google.maps.event.addDomListener(window, "load", initialize);
</script>

<div id="googleMap" style="width:800px;height:380px;"></div>