/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background-color: lightblue;
  padding-top: 60px;
}

ul
{
  list-style-type: none;
}

#googleMaps, 
#googlePlaces {
  display: inline-block;
}