/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.home_container {
  width: 100%;
  height: 100%;
  background-image: url(/img/city-med.jpg);
  background-size: cover;
}

#main {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
  color: #2E6593;
  margin: 20px 0;
}

.home_container #main {
  text-align: center;
  position: relative;
  top: 80px;
  margin: 24px 0;
}

.home_content {
  width: 75%;
  height: 400px;
  background-color: rgba(255,255,230,0.7);
  margin: auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 60px 80px;
}

.home_content p{
  text-align: center;
}

.home_content form {
  text-align: center;
}

input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.home_content input {
  font-size: 1em;
}

.home_content .actions input{
  background-color: white;
}

.title-bar {
  background-color: rgba(255,255,230,0.7);
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

input:focus{
  outline:none;
}

body {
  background-color: #BAB5A1;
  padding: 0 20px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}

li.place {
  font-size: 18px;
  height: 68px;
  border-top: 1px dotted black;
  padding-top: 5px;
}

li.place:first-child {
  border: none;
}

.top {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: navy;
  text-align: left;
}

h1 {
  font-size: 45px;
  font-family: 'Lato', sans-serif;
  color: #ea7d24;
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 90px;
  color: #D2753E;
}

#googleMap {
  width:60%;
  height:380px;
  border:solid black 1px;
  display:inline-block;
}

.centered {
  margin-left: 20%;
}

#googlePlaces {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #F3D66E;
  width:35%;
  min-height:380px;
  border:solid black 1px;
  display:inline-block;
  margin:0 2%;
  padding:none;
}

#googlePlaces ul {
  padding: 0 40px;
}

.name {
  font-weight: 900;
}

.rating {
  padding-left: 200px;
  position: absolute;
  left: 3%;
}

.highlight{
  color: red;
}

#googlePlaces.hidden {
  display:none;
}

#wrapper {
  width: 100%;
  height: 380px;
  position: relative;
  margin-top:130px;
}

.address-form {
  text-align: center;
  margin: 15px;
}

.address-form input {
  margin: 10px;
}

.address-form:before {
  content: "Add an address to your map:"
}

.address_list {
  text-align: center;
}

.address_list ul {
  border: 1px dotted;
  display: inline-block;
  padding: 50px;
}

.address_list img {
  margin: 0 100px;
  padding-top: 20px;
}

.title {
  text-decoration: underline;
  position: relative;
  bottom: 15px;
  font-weight: 900;
}

a {
  color: #2E6593;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#place-btn {
  margin: 10px auto;
  width: 150px;
  height: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
}

.userInput {
  background-color: rgba(255,255,230,0.7);
  width: 100%;
  padding: 30px;
  border-top: solid #D2753E 1px;
  position: absolute;
  left: 0px;
  text-align: center;
}

.placeParams {
  display: inline-block;
  height: 245px;
  width: 300px;
  margin: 5px 10px;
  vertical-align: top;
  text-align: left;
}

fieldset {
  height: 245px;
}

.venue:after {
  padding-left: 8px;
  content: url(/img/restaurant.png) url(/img/cafe.png) url(/img/bar.png);
}

.time:after {
  padding-left: 10px;
  content: url(/img/calendar.png);
}

.cost:after {
  padding-left: 8px;
  content: url(/img/cost.png);
}

// Loader styling
@import url(http://fonts.googleapis.com/css?family=Lato:300);


.container{
  text-align: center;
  background-color: #e74c3c;
  overflow: hidden;
}

.box:nth-child(2n-1){
  background-color: rgba(0,0,0,0.05);
}

.box{
  display: inline-block;
  height: 200px;
  width: 33.3%;
  float:left;
  position: relative;
  /*margin:0 -4px -5px -2px;*/
  transition: all .2s ease;
}



.box p{
  color: #777;
  font-family:  Lato,"Helvetica Neue" ;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  width: 100%;
  height: 25px;
  text-align: center;
  bottom: 0px;
  margin: 0;
  top:0px;
  background-color: #fff;
  opacity: 0;
  text-transform: uppercase;
  transition: all .2s ease;
}

.box:hover p{
  bottom:0px;
  top:175px;
  opacity: 1;
  transition: all .2s ease;
  z-index: 2;
}



/* MEDIA QUERIES */
@media (max-width: 700px){
  .box{
    width: 50%;
  }

  .box:nth-child(2n-1){
    background-color: inherit;
  }

  .box:nth-child(4n),.box:nth-child(4n-3) {
    background-color: rgba(0,0,0,0.05);
  }

}

@media (max-width: 420px){
  .box{
    width: 100%;
  }

  .box:nth-child(4n),.box:nth-child(4n-3){
    background-color: inherit;
  }

  .box:nth-child(2n-1){
    background-color:rgba(0,0,0,0.05);
  }

}

.loader8{
  position: relative;
  width: 80px;
  height: 80px;

  top: 28%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 43px);
  left: 35%;
  left: -webkit-calc(50% - 43px);
  left: calc(50% - 43px);

  border-radius: 50px;
  background-color: rgba(255, 255, 255, .2);
  border-width: 40px;
  border-style: double;
  border-color:transparent  #fff;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
    box-sizing:border-box;

  -webkit-transform-origin:  50% 50%;
    transform-origin:  50% 50% ;
  -webkit-animation: loader8 2s linear infinite;
    animation: loader8 2s linear infinite;

}

@-webkit-keyframes loader8{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader8{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
